@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.hidden {
    display: none;
}

main {
    padding: 0;
    overflow: hidden;
}

header.fixed_kit_header {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #000;
    left: 0;
    padding: 12px;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: .8rem;
    display: flex;
    
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    h1 {
        font-size: 2rem;
        font-family: "Cabin Sketch", sans-serif;
    }

    h2 {
        font-size: 2rem;
    }

    ul {
        margin: 0;
        padding-left: 24px;
    }

    ul li {
        list-style: lower-greek;
    }
}

.infoToggle {
    cursor: pointer;
}

span.tracked {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding: 3px;
    font-size: .6rem;
    text-align: left;
    width: 100px;
}

.urlInfo {
    background-color: #f0f0f0;
    font-family: monospace;
}

.kd_konva_canvas {
    background-color: rgb(107, 205, 197);
}

.info {
    padding: 0 12px 0 36px;
    border-left: 1px solid black;
    margin-left: 24px;
    font-size: 16px;
    @media screen and (max-width: 768px) {
        border-left: none;
        margin-left: 24px;
        padding: 0;
    }
}